AAW_TELEMETRY_DATABASE_CONFIG_FILE=config/database.yaml
AAW_TELEMETRY_PROJECTS_FILE=config/projects.yaml
AAW_TELEMETRY_OBJECT_STORAGE_DIR=data/objects
AAW_TELEMETRY_LOGGING_CONFIG_FILE=config/logging.yaml
AAW_TELEMETRY_LOG_DIRECTORY=logs
AAW_TELEMETRY_LOG_LEVEL=INFO
AAW_TELEMETRY_MAX_REQUEST_BYTES=1048576
AAW_TELEMETRY_MAX_PATCH_BYTES=10485760
AAW_TELEMETRY_UPLOAD_SESSION_SECONDS=3600
